@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-md border border-gray-400 bg-transparent py-3 px-6 text-center text-base font-medium leading-snug text-gray-700 shadow-md transition duration-200 ease-in hover:border-gray-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-200     md:px-8;
  }

  .btn-ghost {
    @apply border-none text-gray-600 shadow-none hover:text-gray-900  ;
  }

  .btn-primary {
    @apply border-primary-600 bg-primary-600 font-semibold text-white hover:border-primary-800 hover:bg-primary-800 hover:text-white     ;
  }

  .card {
    @apply rounded-md border-gray-200 bg-white px-6 pt-10 pb-8 shadow-xl transition duration-300 ease-in-out   ;
  }

  .ribbon {
    @apply absolute top-[19px] right-[-21px] block w-full rotate-45 bg-green-700 text-center text-[10px] font-bold uppercase leading-5 text-white shadow-[0_3px_10px_-5px_rgba(0,0,0,0.3)] before:absolute before:left-0 before:top-full before:z-[-1] before:border-[3px] before:border-r-transparent before:border-b-transparent before:border-l-green-800 before:border-t-green-800 before:content-[''] after:absolute after:right-0 after:top-full after:z-[-1] after:border-[3px] after:border-l-transparent after:border-b-transparent after:border-r-green-800 after:border-t-green-800 after:content-[''];
  }

  .navbar-active .hamburger div:first-child {
    @apply rotate-45 translate-y-1.5;
  }
  .navbar-active .hamburger div:last-child {
    @apply -rotate-45 -translate-y-1;
  }
  .navbar-active div:first-child div:first-child div:last-child{
    @apply block lg:flex
  }

  .animate-timer {
    position: relative;
     animation: animatetop 1s infinite;
   }
   @keyframes animatetop {
     from {
       top: -50px;
     }
     to {
       top: 20px;
     }
   }
}
